Repository SAP/sqlalchemy-hana: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

yesqa:
  name: yesqa
  entry: yesqa
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  language: system
  args:
  - --py310-plus

tomlsort:
  name: tomlsort
  entry: toml-sort
  language: system
  args:
  - --in-place

uv-lock:
  name: uv-lock
  entry: uv lock
  args:
  - --check
  language: system
  pass_filenames: false
  require_serial: true

Fix comment in ci-pre-commit job
  .github/workflows/main.yml
Due: none

Fix
  sqlalchemy_hana/elements.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix sql.false()/sql.true() rendering under use_native_boolean=False
  CHANGES.rst
  sqlalchemy_hana/dialect.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Stepup to 4.6.1
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  uv.lock
Due: uv-lock

fix: render NOT (...) for negated boolean predicate on SAP HANA
  CHANGES.rst
  sqlalchemy_hana/dialect.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

fix: render NOT (...) for negated boolean predicate on SAP HANA (#687)
  CHANGES.rst
  sqlalchemy_hana/dialect.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix CI
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix CI (#708)
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  pyproject.toml
Due: tomlsort, uv-lock

Remove support for python 3.10
  .flake8
  .github/workflows/main.yml
  CHANGES.rst
  README.rst
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Fix
  .pre-commit-config.yaml
Due: none

Fix
  sqlalchemy_hana/errors.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Remove support for python 3.10 (#733)
  .flake8
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGES.rst
  README.rst
  pyproject.toml
  sqlalchemy_hana/errors.py
  uv.lock
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Add support for SQLAlchemy 2.1
  .github/workflows/main.yml
  CHANGES.rst
  README.rst
  sqlalchemy_hana/dialect.py
  sqlalchemy_hana/elements.py
  test/requirements.py
  uv.lock
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, uv-lock

Add support for SQLAlchemy 2.1 (#736)
  .github/workflows/main.yml
  CHANGES.rst
  README.rst
  pyproject.toml
  sqlalchemy_hana/dialect.py
  sqlalchemy_hana/elements.py
  test/requirements.py
  uv.lock
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Remove duplicated classifiers
  pyproject.toml
Due: tomlsort, uv-lock

Bump to 5.0.0
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Fix README rendering
  README.rst
Due: none

Fix CI
  .github/workflows/main.yml
Due: none

Fix CI (#752)
  .github/workflows/main.yml
Due: none

Remove duplicated classifiers (#749)
  pyproject.toml
Due: tomlsort, uv-lock

Fix README rendering (#751)
  README.rst
Due: none

Bump to 5.0.0 (#750)
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  yesqa: any of: \.py$
  pyupgrade: any of: \.py$
  tomlsort: any of: \.toml$
  uv-lock: any of: ^(uv\.lock|pyproject\.toml)$
