Repository SAP/sqlalchemy-hana: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

yesqa:
  name: yesqa
  entry: yesqa
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  language: system
  args:
  - --py310-plus

tomlsort:
  name: tomlsort
  entry: toml-sort
  language: system
  args:
  - --in-place

uv-lock:
  name: uv-lock
  entry: uv lock
  args:
  - --check
  language: system
  pass_filenames: false
  require_serial: true

Step up tp 4.5.0
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Step up tp 4.5.0 (#577)
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Improve renovate config
  renovate.json
Due: none

Improve renovate config (#593)
  renovate.json
Due: none

Update conftest.py
  test/conftest.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Support SA 2.1 DropView
  sqlalchemy_hana/dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  .github/workflows/main.yml
  sqlalchemy_hana/dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  sqlalchemy_hana/dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Support SA 2.1 DropView (#613)
  .github/workflows/main.yml
  sqlalchemy_hana/dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Bump 4.6.0
  CHANGES.rst
  pyproject.toml
Due: tomlsort, uv-lock

ci: add session diagnostics to triage flaky connection tests
  test/ci_setup.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  sqlalchemy_hana/dialect.py
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Avoid duplicate schema names
  test/ci_setup.py
  test/conftest.py
  test/test_sqlalchemy_dialect_suite.py
  test/util.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Remove 2.1 from CI
  .github/workflows/main.yml
Due: none

Fix with_for_update of
  sqlalchemy_hana/dialect.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Remove 2.1 from CI (#626)
  .github/workflows/main.yml
Due: none

Fix
  sqlalchemy_hana/dialect.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Revert
  test/conftest.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  .flake8
Due: none

Fix
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  .github/workflows/main.yml
Due: none

Fix
  test/ci_setup.py
  test/test_sqlalchemy_dialect_suite.py
  test/util.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Pin build system tools
  pyproject.toml
Due: tomlsort, uv-lock

Enable pytest strict mode
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  pyproject.toml
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Avoid duplicate schema names (#625)
  .github/workflows/main.yml
  test/ci_setup.py
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Enable pytest strict mode (#632)
  pyproject.toml
  test/test_sqlalchemy_dialect_suite.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Pin build system tools (#631)
  pyproject.toml
Due: tomlsort, uv-lock

Fix with_for_update of (#627)
  sqlalchemy_hana/dialect.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  CHANGES.rst
Due: none

Fix
  uv.lock
Due: uv-lock

Bump 4.6.0 (#617)
  CHANGES.rst
  pyproject.toml
  sqlalchemy_hana/dialect.py
  test/test_sqlalchemy_dialect_suite.py
  uv.lock
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Fix CI
  pyproject.toml
Due: tomlsort, uv-lock

Fix CI (#648)
  pyproject.toml
Due: tomlsort, uv-lock

Add allow-unsafe-pr-checkout: true
  .github/workflows/main.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  yesqa: any of: \.py$
  pyupgrade: any of: \.py$
  tomlsort: any of: \.toml$
  uv-lock: any of: ^(uv\.lock|pyproject\.toml)$
