Repository SAP/sqlalchemy-hana: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        require_serial: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true
    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [python]
    -   id: pyupgrade
        name: pyupgrade
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]
    -   id: tomlsort
        name: tomlsort
        entry: toml-sort
        language: system
        types: [toml]
        args: [--in-place]
    -   id: uv-lock
        name: uv-lock
        entry: uv lock
        args: [--check]
        language: system
        files: ^(uv\.lock|pyproject\.toml)$
        pass_filenames: false
        require_serial: true
-   repo: https://github.com/Lucas-C/pre-commit-hooks-markup
    rev: v1.0.1
    hooks:
    -   id: rst-linter
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: mixed-line-ending
        args: [--fix=lf]
-   repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
    -   id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '0', --implicit_start]

Add sparse_driver_backend as sqlalchemy pytest marker
  pyproject.toml
Due: tomlsort, uv-lock

Add TODO to remove once obsolete
  pyproject.toml
Due: tomlsort, uv-lock

Make tomlsort happy
  pyproject.toml
Due: tomlsort, uv-lock

Add sparse_driver_backend as sqlalchemy pytest marker (#501)
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  sqlalchemy_hana/_uuid.py
  sqlalchemy_hana/dialect.py
  sqlalchemy_hana/elements.py
  sqlalchemy_hana/types.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Release first version of asyncio support
  .github/workflows/main.yml
  CHANGES.rst
  README.rst
  pyproject.toml
  sqlalchemy_hana/dialect.py
  test/ci_setup.py
  test/requirements.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Fix
  .github/workflows/main.yml
  pyproject.toml
  sqlalchemy_hana/dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Support asyncio execution
  .github/workflows/main.yml
Due: none

Support asyncio execution (#522)
  .github/workflows/main.yml
Due: none

Fix
  CHANGES.rst
  README.rst
Due: none

Welcome 2026
  README.rst
  REUSE.toml
Due: tomlsort

Fix
  sqlalchemy_hana/dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  test.cfg
  test/test_dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Fix
  test.cfg
Due: none

Welcome 2026 (#523)
  README.rst
  REUSE.toml
Due: tomlsort

Release first version of asyncio support (#521)
  CHANGES.rst
  README.rst
  pyproject.toml
  sqlalchemy_hana/dialect.py
  test/ci_setup.py
  test/requirements.py
  test/test_dialect.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Bump 4.3.0
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  uv.lock
Due: uv-lock

Bump 4.3.0 (#525)
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Remove TODO
  pyproject.toml
Due: tomlsort, uv-lock

Remove TODO (#533)
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  .flake8
  pyproject.toml
  sqlalchemy_hana/dialect.py
  uv.lock
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade, tomlsort, uv-lock

Update CI coverage reporting conditions
  .github/workflows/main.yml
Due: none

Update CI coverage reporting conditions (#547)
  .github/workflows/main.yml
Due: none

Fix
  .pre-commit-config.yaml
Due: none

Handle error -10735
  CHANGES.rst
  sqlalchemy_hana/errors.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Handle error -10735 (#559)
  CHANGES.rst
  sqlalchemy_hana/errors.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Handle HANA Cloud resize error
  CHANGES.rst
  sqlalchemy_hana/errors.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Handle HANA Cloud resize error (#560)
  CHANGES.rst
  sqlalchemy_hana/errors.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Remove error code from NumberOfTransactionsExceededError
  CHANGES.rst
  sqlalchemy_hana/errors.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Remove error code from NumberOfTransactionsExceededError (#561)
  CHANGES.rst
  sqlalchemy_hana/errors.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

Step up to 4.4.0
  pyproject.toml
Due: tomlsort, uv-lock

Step up to 4.4.0 (#562)
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Fix ci-coverage-reporting
  .github/workflows/main.yml
Due: none

Fix ci-coverage-reporting (#564)
  .github/workflows/main.yml
Due: none

feat: support with_statement_hint via WITH HINT(...)
  CHANGES.rst
  sqlalchemy_hana/dialect.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

pre-commit fixes
  sqlalchemy_hana/dialect.py
  test/conftest.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade

feat: support with_statement_hint via WITH HINT(...) (#575)
  CHANGES.rst
  sqlalchemy_hana/dialect.py
  test/conftest.py
  test/test_sql_compile.py
Due: black, isort, flake8, pylint, mypy, yesqa, pyupgrade
